/*BASIC*/
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100vw;
}

/*GRID CREATION*/
.home-grid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  height: 100vh;
  width: 100vw;
}

header {
  grid-column: 1/13;
  grid-row: 1/2;
}

main {
  grid-column: 1/13;
  grid-row: 2/3;
}

footer {
  grid-column: 1/13;
  grid-row: 3/4;
}

/*TOP NAVIGATION, ICON & IMAGE*/
.home-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: rgb(0, 0, 0);
  height: 30%;
  padding: 15px 30px 15px 30px;
}

ul {
  list-style-type: none;
  position: sticky;
  font-size: 35px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

img {
  object-fit: cover;
  width: 100%;
}

/*WELCOME TEXT*/
.welcome-text {
  margin: 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*SHOPPA, ÄTA, UPPLEVA & HITTA*/
.fourBoxes {
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

.fourBoxes > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  width: 24%;
  height: 390px;
}

h2 {
  font-size: 40px;
  margin: 20px;
}

div > i {
  font-size: 70px;
}

div > p {
  margin: 0;
}

/*PÅ BESÖK? & ÖPPETIDER*/
.twoBoxes {
  display: flex;
  justify-content: space-around;
}

.twoBoxes > div {
  display: flex;
  flex-direction: column;
  background-color: rgb(43, 43, 43);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  height: 350px;
  margin: 20px 10px 20px 10px;
  font-size: 60px;
}

.twoBoxes > .boxOne {
  display: flex;
  flex-direction: row;
  background-color: #ca9992;
}

.twoBoxes > .boxTwo {
  display: flex;
  flex-direction: row;
  background-color: #997989;
}

.text1,
.text2 {
  width: 85%;
  margin: 15px;
  line-height: 55px;
  color: black;
  font-weight: bold;
}

.arrow1,
.arrow2 {
  align-self: flex-end;
  padding: 25px;
}

/*DU ÄR CENTRUM & UPPTÄCK STATSKÄRNAN*/

.centrum-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 200px;
  color: white;
  background-color: rgb(43, 43, 43);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.centrum-text > h1 {
  font-size: 100px;
  margin: 20px;
}

.centrum-text > h4 {
  font-size: 70px;
}

/*FOOTER CONTENT*/

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

footer > h3 {
  font-size: 30px;
}

footer > i {
  font-size: 40px;
}
