span {
  /* this is the letter finder on the right of the webpage */
  right: 0;
  top: 30vh;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
}

#categories {
  /* contains the 3 columns of letters */
  display: grid;
  grid-template-areas: "col1 col2 col3";
}

#column1 {
  grid-area: "col1";
  display: flex;
  flex-flow: column;
}

#column2 {
  grid-area: "col2";
  display: flex;
  flex-flow: column;
}

#column3 {
  grid-area: "col3";
  display: flex;
  flex-flow: column;
}

/* includes all divs that are right after the letter boxes */
.stores {
  display: none;
}
